.footer {
    padding: 0 5%;
  }
  
  .respect-planet {
    width: 200px !important;
  }
  
  .all-info {
    gap: 1%;
  
    a:hover {
      text-decoration: underline;
    }
  
    div {
      font-family: "Varta";
      font-weight: 600;
      font-size: 25px;
      color: rgba(83, 75, 66, 1);
      row-gap: 10px;
    }
  
    .antic {
      font-family: "Merriweather";
      font-size: 34px;
      font-weight: 700;
      color: rgba(83, 75, 66, 1);
      margin-top: 14px;
    }
  }
  
  .respect-planet a {
    color: rgba(160, 96, 86, 1);
    text-decoration: none;
    font-family: "Karla";
    font-size: 17px;
    font-weight: 700;
    margin: 0;
  }
  
  .networks {
    padding: 15px;
    justify-content: center;
  
    a {
      margin: 10px;
    }
  }
  
  .parameters {
    font-family: "Varta";
    font-weight: 400;
    font-size: 18px;
    color: rgba(112, 100, 88, 0.7);
  
    div {
      a {
        text-decoration: none;
        color: rgba(112, 100, 88, 0.7);
        font-family: "Varta";
        font-size: 18px;
        font-weight: 400;
      }
  
      column-gap: 30px;
    }
  }
  