.footer {
  padding: 0 5%; }

.respect-planet {
  width: 200px !important; }

.all-info {
  gap: 1%; }
  .all-info a:hover {
    text-decoration: underline; }
  .all-info div {
    font-family: "Varta";
    font-weight: 600;
    font-size: 25px;
    color: #534b42;
    row-gap: 10px; }
  .all-info .antic {
    font-family: "Merriweather";
    font-size: 34px;
    font-weight: 700;
    color: #534b42;
    margin-top: 14px; }

.respect-planet a {
  color: #a06056;
  text-decoration: none;
  font-family: "Karla";
  font-size: 17px;
  font-weight: 700;
  margin: 0; }

.networks {
  padding: 15px;
  justify-content: center; }
  .networks a {
    margin: 10px; }

.parameters {
  font-family: "Varta";
  font-weight: 400;
  font-size: 18px;
  color: rgba(112, 100, 88, 0.7); }
  .parameters div {
    column-gap: 30px; }
    .parameters div a {
      text-decoration: none;
      color: rgba(112, 100, 88, 0.7);
      font-family: "Varta";
      font-size: 18px;
      font-weight: 400; }

.header-container {
  font-family: "Merriweather";
  width: 100%; }

.header-content {
  width: 45%;
  padding-left: 5%; }
  .header-content nav {
    gap: 10%; }

.header-container img {
  width: 100%;
  height: 100vh;
  object-fit: cover; }

.header-img {
  width: 50%;
  height: 100vh; }

.menu {
  word-spacing: 25px; }

nav {
  width: 100%;
  padding-top: 20px; }

.gg-close {
  display: none; }

.menu a {
  cursor: pointer;
  font-family: 'Varta';
  font-size: 18px;
  font-weight: 400;
  color: #706458;
  text-decoration: none; }
  .menu a:hover {
    background-color: #706458;
    color: white; }

#menu-icon {
  cursor: pointer;
  display: none; }

.menu-title {
  font-size: 34px;
  font-weight: 700;
  color: #A06056;
  word-spacing: 25px; }

@media screen and (max-width: 800px) {
  #menu-icon {
    display: block; }
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(112, 100, 88, 0.9);
    transform: translateX(100%);
    transition: 0.5s; }
  .gg-close {
    position: relative;
    display: flex;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    align-self: flex-start;
    margin: 20px; }
    .gg-close::after, .gg-close::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 16px;
      height: 2px;
      background: currentColor;
      transform: rotate(45deg);
      border-radius: 5px;
      top: 8px;
      left: 1px; }
    .gg-close::after {
      transform: rotate(-45deg); }
  .menu-title, .main-information p {
    color: white; }
  .menu a {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    color: white;
    padding: 15px 0; } }

.nav-active {
  transform: translateX(0); }

.main-information {
  margin-top: 100px; }

.home-design {
  font-family: "Varta";
  font-weight: 700;
  color: #A06056;
  size: 14px; }

.elegance {
  font-family: "Merriweather";
  font-weight: 400;
  color: #A06056;
  font-size: 50px; }

.slogan {
  font-family: "Varta";
  font-weight: 300;
  color: rgba(112, 100, 88, 0.9);
  font-size: 22px; }

.flex-column {
  display: flex;
  flex-direction: column; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-row-between-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.flex-center-left {
  display: flex;
  align-items: center;
  justify-content: left; }

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center; }

.p-style {
  color: #a06056;
  font-weight: 600;
  font-family: "Varta";
  font-size: 18px; }

.description-style {
  color: rgba(112, 100, 88, 0.9);
  font-weight: 400;
  font-family: "Varta";
  font-size: 18px;
  text-decoration: none; }

.latest-trends {
  background-color: white;
  padding: 50px 5%; }

.trends {
  width: 40%; }
  .trends a {
    text-decoration: none;
    font-family: "Karla";
    font-size: 17px;
    font-weight: 700;
    color: #A06056; }
  .trends .trends-header {
    color: #121212;
    font-family: "Merriweather";
    font-weight: 300;
    font-size: 35px; }

.subscribe {
  width: 40%;
  justify-content: right;
  align-items: center; }
  .subscribe input {
    height: 30px;
    border-color: transparent;
    background-color: #F3EEE84D;
    font-size: 18px; }
  .subscribe button {
    background-color: #534B42;
    border-color: transparent;
    color: white;
    width: auto;
    cursor: pointer;
    font-family: "Karla";
    font-weight: 700;
    font-size: 17px;
    padding: 5px; }

/* 4 latest-trends */
/* 5 gallery-container */
.inspiration-container {
  margin: 10px; }
  .inspiration-container p {
    width: 30%; }
  .inspiration-container span {
    font-family: "Merriweather";
    font-weight: 300;
    font-size: 45px;
    color: #534b42; }

.gallery {
  display: flex;
  gap: 10px; }
  .gallery img {
    width: 400px;
    height: 500px;
    display: block; }
  .gallery p {
    display: none; }

.gallery-buttons {
  cursor: pointer; }
  .gallery-buttons span {
    color: rgba(112, 100, 88, 0.9);
    font-weight: 400;
    font-family: "Varta";
    font-size: 18px;
    text-decoration: none; }

.gallery-container {
  padding: 5%;
  background-color: white; }

.slider-for-rooms {
  column-gap: 20px;
  padding: 0 5%; }

.rooms-desc {
  width: 30%; }

.find-room-title {
  font-family: "Merriweather";
  font-weight: 400;
  color: #706458;
  font-size: 55px;
  padding: 0 5%; }

.room {
  width: 40%; }
  .room span {
    margin-left: 10px; }

.room-img {
  font-family: "Merriweather";
  font-size: 55px;
  font-weight: 400;
  color: #a06056;
  position: relative;
  z-index: 999;
  height: auto;
  width: 50%;
  min-width: 250px; }
  .room-img img {
    width: 100%;
    height: 100%; }
  .room-img span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    z-index: 999;
    width: 150px; }

.room-swipe {
  margin-top: 40px;
  gap: 11%;
  padding: 5%; }
  .room-swipe button {
    background-color: transparent;
    border-color: transparent;
    color: #a06056;
    text-decoration: none;
    font-family: "Karla";
    font-size: 20px;
    font-weight: 700; }

.project-container {
  padding: 0 5%; }

.more-info p {
  color: #706458;
  font-family: "Merriweather";
  font-weight: 400;
  font-size: 55px; }

.more-info a {
  color: #a06056;
  text-decoration: none;
  font-family: "Karla";
  font-size: 17px;
  font-weight: 700; }

.oportunities {
  width: 40%; }

.oportunities-container {
  width: 100%;
  flex-wrap: wrap;
  flex: 1; }
  .oportunities-container div {
    width: 46%;
    margin: 2%; }

body {
  background-color: #f3eee8;
  margin: 0;
  overflow-x: hidden; }

@media screen and (max-width: 800px) {
  .inspiration-container p, .header-img {
    width: 100%; }
  .header-content span {
    text-align: left; }
  .header-container img {
    position: relative;
    width: 100%; }
  .header-content {
    color: white;
    width: 100%;
    padding-left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 999;
    text-align: center;
    position: absolute; }
    .header-content nav {
      justify-content: space-around; }
  .rooms-desc {
    width: auto; }
  .rooms {
    flex-direction: column;
    row-gap: 25px; }
  .room-swipe {
    justify-content: space-between;
    flex-direction: row-reverse; }
  .room:nth-of-type(2) {
    display: none; }
  .gallery {
    flex-direction: row;
    flex-wrap: wrap; }
    .gallery img {
      width: 100%;
      height: 300px;
      object-fit: cover; }
    .gallery div {
      flex: 1 1 calc(50% - 5px); }
    .gallery p {
      display: block; }
  .gallery-container {
    display: flex;
    flex-direction: column-reverse; }
  .inspiration-container {
    flex-direction: column;
    align-items: start; }
  .gallery-buttons {
    display: none; }
  .footer .all-info {
    flex-direction: column; }
  .antic {
    align-items: center; }
  .respect-planet {
    width: 100% !important; }
  .parameters {
    flex-direction: column-reverse;
    align-items: flex-start; }
  .slider-for-rooms {
    flex-wrap: wrap;
    row-gap: 20px; }
  .help {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap; }
  .more-info, .oportunities {
    width: 100%; }
  .project-container {
    flex-direction: column; }
  .oportunities-container {
    margin-top: 15px;
    margin-bottom: 32px; }
    .oportunities-container div {
      width: 100%;
      margin: 0; }
  .latest-trends {
    padding-left: 5%;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 25px; }
  .trends {
    width: 100%;
    margin: 0; }
  .subscribe {
    width: 100%;
    flex-direction: column;
    align-items: normal; } }
